<mat-slide-toggle class="filter__auto-update" [(ngModel)]="autoUpdate">
  Auto update
</mat-slide-toggle>

<div class="filter__inputs">
  <home-competition-picker
    (competitionChanged)="autoUpdateData({ competition: $event })"
  ></home-competition-picker>
  <home-date-picker
    (dateChanged)="autoUpdateData({ matchday: $event })"
  ></home-date-picker>
</div>

<div class="filter__search-button-container">
  <button
    *ngIf="!autoUpdate"
    mat-flat-button
    (click)="updateData()"
    color="primary"
    [disabled]="!matchday || !competition"
  >
    <mat-icon>search</mat-icon>
    search
  </button>
</div>
